<aside>
    <app-wheader></app-wheader>
    <main fxLayout="row" fxLayoutAlign="center center" style="text-align: center; padding: 15px;"> 
      <mat-card fxFlex="100" style="height: 88vh;" > 
      <div fxLayout="row" style="height: 100px;" >
        <div fxFlex="10" fxFlex.xs="100" fxFlex.sm="20" fxFlex.md="20" style="text-align: left; margin-top: 30px;">
            <a routerLink="/dashboard" class="back">Back</a>
        </div>
        <div fxFlex="90" fxFlex.xs="100" fxFlex.sm="80" fxFlex.md="80" >
            <h1 class="receive">Receive for Wallet: Bitcoin (BTC)</h1>
        </div>
      </div>
      <div class="receive-content" >
          <div fxLayout="row">
            <div>
              <p >Below is the list of your previously generated addresses, when receiving <br>
                  transactions we always recommend generating a fresh address.</p>
          </div>  
          </div>
          <button mat-raised-button disabled>New Address</button>
          <div  fxLayout="row" fxLayoutAlign="center center">
              <!-- <i class="fas fa-qrcode" style="font-size: 28vh;"></i> -->
              <img src="http://chart.googleapis.com/chart?chs=200x200&cht=qr&chl=3hsdyjhmnds4387654nbhgvj34g5h3n4wbv5ghj3">
          </div>
      </div>
      <div>
        <div fxLayout="row" >
          <mat-card   style="width: 100%; text-align: left;">3hsdyjhmnds4387654nbhgvj34g5h3n4wbv5ghj3</mat-card>
        </div>
        <div fxLayout="row">
            <mat-card style="width: 100%; text-align: left;" >3hsdyjhmnds4387654nbhgvj34g5h3n4wbv5ghj3</mat-card>
       </div>
     </div>
      </mat-card>
    </main>
</aside>