<app-header></app-header>
<main class="Aligner" style="background: url(assets/poc-bg.svg) no-repeat center center fixed; background-size: cover; height: 90vh;">
  <div class="Aligner-item">
    <mat-card>
        <form novalidate autocomplete="off" [formGroup]="UserDetailsForm" (ngSubmit)="Setpassword()" >
          <h2 class="heading">Set Password</h2>
          <div>
            <div>
            <mat-form-field fxFlex="100">
              <input matInput placeholder="Email" required [(ngModel)]="setPassword.email" readonly [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="width">
              <input matInput placeholder="Password" [(ngModel)]="setPassword.password" formControlName="password" >
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="width">
              <input matInput placeholder="Re-Enter Password" formControlName="repeatpassword" >
            </mat-form-field>
          </div>
          </div>
          <button mat-raised-button class="btn">Proceed</button>
          </form>
    </mat-card>

</div>
</main>