<app-header></app-header>
<main class="Aligner" style="background: url(assets/poc-bg.svg) no-repeat center center fixed; background-size: cover; height: 90vh;">
  <div class="Aligner-item">
    <mat-card>
        <form novalidate autocomplete="off" [formGroup]="UserDetailsForm" (ngSubmit)="Reset()" >
          <h2 class="heading">Password Recovery</h2>
          <p class="red textAlign">{{response}}</p>
          <div>
            <mat-form-field class="width">
              <input matInput placeholder="Email" [(ngModel)]="resetPassword.email" formControlName="email" >
            </mat-form-field>
          </div>
          <button mat-raised-button class="btn">Request Password Recovery</button>
          </form>
    </mat-card>

</div>
</main>